<?php
    include '../controller/connection.php';
    $db_conn = mysqli_connect($db_host, $db_user, $db_password, $db_name);
    if (!$db_conn) {
        die('No se ha podido conectar a la base de datos');
    }
    $resultado = mysqli_query($db_conn, "SELECT * FROM ".$db_table_name." WHERE uniqid = '". $_GET['id']."'";

    if($resultado){
        ?>

<!DOCTYPE html>
<html lang='es-ES'>
    <head>
        <meta charset="utf-8">
        <title>CONFIRMAR CONTENIDO</title>
    </head>
    <body>


         <div class="row">
             <div class="col-sm-6">
                 <?php  echo "asd";}?>
             </div>
             <div class="col-sm-6">
                 <?php else  echo "asd";?>
             </div>
         </div>
    </body>
</html>
